body{background-attachment: fixed;background-color: aqua;}
{
    text-align: center;
    background: linear-gradient( #1B5E20 30%,#2979FF 100%);
	background-repeat:no-repeat;
} 

#gatoso
{
    text-align: center;
    background: linear-gradient( #1B5E20 30%,#2979FF 100%);
	background-repeat:no-repeat;
}